* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

.main-header {
    padding: 30px;
    background-color: white;
}


.logo {
    max-width: 100%;
    width: 80px;
    vertical-align: -22px;
}

.name-article {
    display: inline;
    font-size: 50px;
    font-weight: 800;
}

body {
    background-color: #F6F8F9;
}

.container {    
    margin: 0 auto;
    padding-top: 100px;   
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.line-bottom{    
    background-color: white;    
    width: 1200px;
    border-radius: 10px;    
    padding: 30px 60px; 
    margin-bottom: 3px; 
    display: flex;
    justify-content: center;
    gap: 10px;

}

ul, ol {
    list-style: none;
}

.check-list {
    background-color: white;
    width: 1200px;
    border-radius: 10px;
    padding: 60px;
    font-size: 20px;
    
}

.list {
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}

.green-check {   
    border: 1px solid green;
    color: green;        
}

.red-cross {    
    border: 1px solid red;
    color: red;        
}

.circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;   
    
}

/* CSS */
.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;  
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}



input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;    
    padding: 12px 100px 12px 10px;
}

.title-task {
    padding-bottom: 20px;
}

.text-check {
    text-decoration: line-through;
    text-decoration-color: greenyellow;
}

.remove-cross {
    cursor: pointer;
}

