<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/1ba55838a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <header class="main-header">
            <div>

                <img class="logo" src="./img/Logo.png" alt="logo boolean">
                <h1 class="name-article">
                    Vue To Do List
                </h1>

            </div>

        </header>
        <main class="container">
            <div class="line-bottom">
                <form>
                    <input type="text" name="search" placeholder="Add New Task">
                </form>
                  
                <button class="button-7" role="button">Add Task</button>
                
                
            </div>
            <section class="check-list">
               
                
                <ul v-if="todos.length > 0">
                    <div class="list">
                        <li class="task-items"
                        v-for="(item,index) in todos" 
                        v-bind:class="item.done === true ? 'text-check' : '' ">
                        {{item.text}}
                        <i @click="removeTask(index)" class="fa-solid fa-xmark remove-cross"></i>
                        </li>
                    
                    </div>               
                </ul>
                <h2 class="title-task" v-else>There are no new tasks</h2>
            
            </section>
        

        </main>   
    </div>

    <script src="./script.js"></script>
</body>
</html>